<a href="https://colab.research.google.com/github/Santgupt/Test-Projects/blob/master/Project_ODI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('odi.csv')

In [3]:
df

         mid        date  ... non-striker total
0          1  2006-06-13  ...           0   301
1          1  2006-06-13  ...           0   301
2          1  2006-06-13  ...           0   301
3          1  2006-06-13  ...           0   301
4          1  2006-06-13  ...           0   301
...      ...         ...  ...         ...   ...
350894  1188  2017-07-10  ...          18   203
350895  1188  2017-07-10  ...          18   203
350896  1188  2017-07-10  ...          18   203
350897  1188  2017-07-10  ...          18   203
350898  1188  2017-07-10  ...          18   203

[350899 rows x 15 columns]

In [4]:
df.head()

   mid        date  ... non-striker total
0    1  2006-06-13  ...           0   301
1    1  2006-06-13  ...           0   301
2    1  2006-06-13  ...           0   301
3    1  2006-06-13  ...           0   301
4    1  2006-06-13  ...           0   301

[5 rows x 15 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350899 entries, 0 to 350898
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   mid             350899 non-null  int64
 1   date            350899 non-null  object
 2   venue           350899 non-null  object
 3   bat_team        350899 non-null  object
 4   bowl_team       350899 non-null  object
 5   batsman         350899 non-null  object
 6   bowler          350899 non-null  object
 7   runs            350899 non-null  int64
 8   wickets         350899 non-null  int64
 9   overs           350899 non-null  float64
 10  runs_last_5     350899 non-null  int64
 11  wickets_last_5  350899 non-null  int64
 12  striker         350899 non-null  int64
 13  non-striker     350899 non-null  int64
 14  total           350899 non-null  int64
dtypes: float64(1), int64(8), object(6)
memory usage: 40.2+ MB

In [6]:
X=df.drop(["total",'date'],axis=1)

In [7]:
y=df["total"]

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
label=LabelEncoder()

In [10]:
X["bat_team"]=label.fit_transform(X["bat_team"])

In [11]:
X["bowl_team"]=label.fit_transform(X["bowl_team"])
X["batsman"]=label.fit_transform(X["batsman"])
X["bowler"]=label.fit_transform(X["bowler"])

In [12]:
X["venue"]=label.fit_transform(X["venue"])

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [15]:
from sklearn.tree import DecisionTreeRegressor

In [16]:
tree=DecisionTreeRegressor()

In [17]:
tree.fit(X_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [18]:
tree.score(X_test,y_test)

0.9627534779217821