<a href="https://colab.research.google.com/github/Santgupt/Projects/blob/master/Project_LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('votingdata.csv', index_col=0)

In [5]:
df.head()

   aid  budget  crime  duty_free_exports  ...  satellite  superfund  synfuels  water
0    0       0      1                  0  ...          0          1         0      1
1    0       0      1                  0  ...          0          1         0      1
2    0       1      1                  0  ...          0          1         1      1
3    0       1      0                  0  ...          0          1         1      1
4    0       1      1                  1  ...          0          1         1      1

[5 rows x 17 columns]

In [6]:
df.tail()

     aid  budget  crime  ...  superfund  synfuels  water
430    0       1      1  ...          1         0      0
431    1       1      0  ...          0         0      0
432    0       0      1  ...          1         1      1
433    1       0      1  ...          1         0      0
434    0       0      1  ...          1         0      1

[5 rows x 17 columns]

In [7]:
df.shape

(435, 17)

In [9]:
df.describe()

              aid      budget       crime  ...   superfund    synfuels       water
count  435.000000  435.000000  435.000000  ...  435.000000  435.000000  435.000000
mean     0.590805    0.606897    0.609195  ...    0.537931    0.344828    0.558621
std      0.492252    0.489002    0.488493  ...    0.499133    0.475859    0.497123
min      0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
50%      1.000000    1.000000    1.000000  ...    1.000000    0.000000    1.000000
75%      1.000000    1.000000    1.000000  ...    1.000000    1.000000    1.000000
max      1.000000    1.000000    1.000000  ...    1.000000    1.000000    1.000000

[8 rows x 16 columns]

In [10]:
df.dtypes

aid                   int64
budget                int64
crime                 int64
duty_free_exports     int64
eaa_rsa               int64
education             int64
immigration           int64
infants               int64
missile               int64
party                object
physician             int64
religious             int64
salvador              int64
satellite             int64
superfund             int64
synfuels              int64
water                 int64
dtype: object

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 435 entries, 0 to 434
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   aid                435 non-null    int64
 1   budget             435 non-null    int64
 2   crime              435 non-null    int64
 3   duty_free_exports  435 non-null    int64
 4   eaa_rsa            435 non-null    int64
 5   education          435 non-null    int64
 6   immigration        435 non-null    int64
 7   infants            435 non-null    int64
 8   missile            435 non-null    int64
 9   party              435 non-null    object
 10  physician          435 non-null    int64
 11  religious          435 non-null    int64
 12  salvador           435 non-null    int64
 13  satellite          435 non-null    int64
 14  superfund          435 non-null    int64
 15  synfuels           435 non-null    int64
 16  water              435 non-null    int64
dtypes: int64(16), object(1)
memory usage: 61.2+ KB

In [13]:
df.columns

Index(['aid', 'budget', 'crime', 'duty_free_exports', 'eaa_rsa', 'education',
       'immigration', 'infants', 'missile', 'party', 'physician', 'religious',
       'salvador', 'satellite', 'superfund', 'synfuels', 'water'],
      dtype='object')

In [14]:
df.isnull().sum()

aid                  0
budget               0
crime                0
duty_free_exports    0
eaa_rsa              0
education            0
immigration          0
infants              0
missile              0
party                0
physician            0
religious            0
salvador             0
satellite            0
superfund            0
synfuels             0
water                0
dtype: int64

In [15]:
X=df.drop("party",axis=1)

In [23]:
y=df["party"]

In [18]:
type(X)

pandas.core.frame.DataFrame

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,stratify=y,random_state=0)

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
model=LogisticRegression()

In [24]:
model.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [25]:
model.score(x_test,y_test)

0.9312977099236641

In [26]:
from sklearn.metrics import confusion_matrix

In [27]:
y_pred=model.predict(x_test)

In [28]:
confusion_matrix(y_test,y_pred)

array([[77,  3],
       [ 6, 45]])