<a href="https://colab.research.google.com/github/Santgupt/Test-Projects/blob/master/Project_Iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datasets_19_420_Iris.csv',index_col=0)

In [3]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
df=df.drop(['SepalWidthCm','PetalLengthCm','PetalWidthCm'],axis = 1)

In [5]:
df

     SepalLengthCm         Species
Id
1              5.1     Iris-setosa
2              4.9     Iris-setosa
3              4.7     Iris-setosa
4              4.6     Iris-setosa
5              5.0     Iris-setosa
..             ...             ...
146            6.7  Iris-virginica
147            6.3  Iris-virginica
148            6.5  Iris-virginica
149            6.2  Iris-virginica
150            5.9  Iris-virginica

[150 rows x 2 columns]

In [6]:
x=df['SepalLengthCm'].values
y=df['Species'].values

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   Species        150 non-null    object
dtypes: float64(1), object(1)
memory usage: 3.5+ KB

In [8]:
type(x)

numpy.ndarray

In [9]:
x.shape

(150,)

In [10]:
x=x.reshape(-1,1)

In [11]:
x.shape

(150, 1)

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,stratify=y,random_state=1)

In [14]:
from sklearn.neighbors import KNeighborsClassifier

In [15]:
knn=KNeighborsClassifier(n_neighbors=5)

In [16]:
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [17]:
knn.score(x_test,y_test)

0.6052631578947368