<a href="https://colab.research.google.com/github/Santgupt/Test-Projects/blob/master/Project_Wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
white=pd.read_csv("winequality-white-kaggle.csv",sep=";")

In [3]:
white["type"]="white"

In [4]:
red=pd.read_csv("winequality-red-kaggle.csv",sep=";")

In [5]:
red["type"]="red"

In [6]:
white.head()

   fixed acidity  volatile acidity  citric acid  ...  alcohol  quality   type
0            7.0              0.27         0.36  ...      8.8        6  white
1            6.3              0.30         0.34  ...      9.5        6  white
2            8.1              0.28         0.40  ...     10.1        6  white
3            7.2              0.23         0.32  ...      9.9        6  white
4            7.2              0.23         0.32  ...      9.9        6  white

[5 rows x 13 columns]

In [7]:
red.head()

   fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  type
0            7.4              0.70         0.00  ...      9.4        5   red
1            7.8              0.88         0.00  ...      9.8        5   red
2            7.8              0.76         0.04  ...      9.8        5   red
3           11.2              0.28         0.56  ...      9.8        6   red
4            7.4              0.70         0.00  ...      9.4        5   red

[5 rows x 13 columns]

In [8]:
sample=red.append(white,ignore_index=True)

In [9]:
sample.loc[1,:]

fixed acidity              7.8
volatile acidity          0.88
citric acid                  0
residual sugar             2.6
chlorides                0.098
free sulfur dioxide         25
total sulfur dioxide        67
density                 0.9968
pH                         3.2
sulphates                 0.68
alcohol                    9.8
quality                      5
type                       red
Name: 1, dtype: object

In [10]:
 sample.head()

   fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  type
0            7.4              0.70         0.00  ...      9.4        5   red
1            7.8              0.88         0.00  ...      9.8        5   red
2            7.8              0.76         0.04  ...      9.8        5   red
3           11.2              0.28         0.56  ...      9.8        6   red
4            7.4              0.70         0.00  ...      9.4        5   red

[5 rows x 13 columns]

In [11]:
X=sample.drop("type",axis=1)

In [12]:
 y=sample["type"]

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_text=train_test_split(X, y, test_size=.3, stratify=y)

In [15]:
from sklearn.ensemble import RandomForestClassifier

In [17]:
tree=RandomForestClassifier()

In [18]:
tree.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [19]:
tree.score(X_test,y_text)

0.997948717948718